.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#bigImage {
    float: left;
    width: 30%;
    margin: 0px;
    padding: 1px 0px 0px 0px;
    background-color: darkred;
}

#gallery {
    float: left;
    width: 35%;
    background-color: cadetblue;
    padding: 0px;
}

.gallery_element {
    margin: 1px;
    padding: 0px;
    display: block;
    float: left;
}

.gallery_element:hover{
    margin: 0px;
    padding: 0px;
    display: block;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: crimson;
}
